<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>words</key>
        
    <array>
        <array>
            <array>
                <string>add</string>
                <string></string>
            </array>
            <array>
                <string>ant</string>
                <string></string>
            </array>
            <array>
                <string>arm</string>
                <string></string>
            </array>
            <array>
                <string>bag</string>
                <string></string>
            </array>
            <array>
                <string>bed</string>
                <string></string>
            </array>
            <array>
                <string>bee</string>
                <string></string>
            </array>

            <array>
                <string>boy</string>
                <string></string>
            </array>
            <array>
                <string>bus</string>
                <string></string>
            </array>
            <array>
                <string>car</string>
                <string></string>
            </array>
            <array>
                <string>cat</string>
                <string></string>
            </array>
            <array>
                <string>cow</string>
                <string></string>
            </array>
            <array>
                <string>cat</string>
                <string></string>
            </array>
            <array>
                <string>dog</string>
                <string></string>
            </array>
            <array>
                <string>day</string>
                <string></string>
            </array>
            <array>
                <string>eye</string>
                <string></string>
            </array>
            <array>
                <string>eat</string>
                <string></string>
            </array>
            <array>
                <string>ear</string>
                <string></string>
            </array>
            <array>
                <string>egg</string>
                <string></string>
            </array>
            <array>
                <string>fly</string>
                <string></string>
            </array>
            <array>
                <string>hat</string>
                <string></string>
            </array>
            <array>
                <string>ice</string>
                <string></string>
            </array>
            <array>
                <string>jet</string>
                <string></string>
            </array>
            <array>
                <string>jar</string>
                <string></string>
            </array>
            <array>
                <string>leg</string>
                <string></string>
            </array>
            <array>
                <string>man</string>
                <string></string>
            </array>
            <array>
                <string>mug</string>
                <string></string>
            </array>
            <array>
                <string>nap</string>
                <string></string>
            </array>
            <array>
                <string>one</string>
                <string></string>
            </array>
            <array>
                <string>oil</string>
                <string></string>
            </array>
            <array>
                <string>pet</string>
                <string></string>
            </array>
            <array>
                <string>pen</string>
                <string></string>
            </array>
            <array>
                <string>red</string>
                <string></string>
            </array>
            <array>
                <string>run</string>
                <string></string>
            </array>
            <array>
                <string>sun</string>
                <string></string>
            </array>
            <array>
                <string>ski</string>
                <string></string>
            </array>
            
            <array>
                <string>tap</string>
                <string></string>
            </array>
            <array>
                <string>toy</string>
                <string></string>
            </array>
            <array>
                <string>two</string>
                <string></string>
            </array>

            <array>
                <string>van</string>
                <string></string>
            </array>
            <array>
                <string>zoo</string>
                <string></string>
            </array>
            <array>
                <string>six</string>
                <string></string>
            </array>
            <array>
                <string>ten</string>
                <string></string>
            </array>

        </array>
    </array>
	<key>wordsTitle</key>
	<array>
        <string>TWO</string>
	</array>
	<key>pointsPerLetter</key>
	<integer>10</integer>
</dict>
</plist>
