<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>words</key>
	<array>

        <array>
            <array>
                <string>ant</string>
                <string></string>
            </array>
            <array>
                <string>ambulance</string>
                <string></string>
            </array>
            <array>
                <string>alligator</string>
                <string></string>
            </array>
            <array>
                <string>astronaut</string>
                <string></string>
            </array>
        </array>

        
        <array>
            <array>
                <string>bee</string>
                <string></string>
            </array>
            <array>
                <string>bed</string>
                <string></string>
            </array>
            <array>
                <string>boat</string>
                <string></string>
            </array>
            <array>
                <string>broccoli</string>
                <string></string>
            </array>
        </array>

        
        <array>
			<array>
				<string>cake</string>
				<string></string>
			</array>
			<array>
				<string>cow</string>
				<string></string>
			</array>
			<array>
				<string>chair</string>
				<string></string>
			</array>
			<array>
				<string>clothes</string>
				<string></string>
			</array>
		</array>
		<array>
			<array>
				<string>door</string>
				<string></string>
			</array>
			<array>
				<string>drink</string>
				<string></string>
			</array>
			<array>
				<string>draw</string>
				<string></string>
			</array>
			<array>
				<string>drive</string>
				<string></string>
			</array>
		</array>
		<array>
			<array>
				<string>eye</string>
				<string></string>
			</array>
			<array>
				<string>eat</string>
				<string></string>
			</array>
			<array>
				<string>evening</string>
				<string></string>
			</array>
			<array>
				<string>eraser</string>
				<string></string>
			</array>
		</array>
        <array>
					<array>
							<string>flower</string>
							<string></string>
					</array>
            <array>
                <string>foot</string>
                <string></string>
            </array>
            <array>
                <string>fruit</string>
                <string></string>
            </array>
            <array>
                <string>fries</string>
                <string></string>
            </array>
        </array>
				<array>
					<array>
							<string>garden</string>
							<string></string>
					</array>
            <array>
                <string>glasses</string>
                <string></string>
            </array>
            <array>
                <string>grape</string>
                <string></string>
            </array>
            <array>
                <string>goat</string>
                <string></string>
            </array>
        </array>

				<array>
					<array>
							<string>handbag</string>
							<string></string>
					</array>
            <array>
                <string>hippo</string>
                <string></string>
            </array>
            <array>
                <string>hat</string>
                <string></string>
            </array>
            <array>
                <string>headband</string>
                <string></string>
            </array>
        </array>
				<array>
					<array>
							<string>iceberg</string>
							<string></string>
					</array>
            <array>
                <string>inside</string>
                <string></string>
            </array>
            <array>
                <string>ice skating</string>
                <string></string>
            </array>
            <array>
                <string>iguanodon</string>
                <string></string>
            </array>
        </array>
				<array>
					<array>
							<string>jet</string>
							<string></string>
					</array>
            <array>
                <string>jump</string>
                <string></string>
            </array>
            <array>
                <string>jar</string>
                <string></string>
            </array>
            <array>
                <string>jelly</string>
                <string></string>
            </array>
        </array>
				<array>
					<array>
							<string>kangaroo</string>
							<string></string>
					</array>
            <array>
                <string>koala</string>
                <string></string>
            </array>
            <array>
                <string>kitten</string>
                <string></string>
            </array>
            <array>
                <string>knife</string>
                <string></string>
            </array>
        </array>
                        <array>
                            <array>
                                    <string>listen</string>
                                    <string></string>
                            </array>
                    <array>
                        <string>long</string>
                        <string></string>
                    </array>
                    <array>
                        <string>lorry</string>
                        <string></string>
                    </array>
                    <array>
                        <string>letter</string>
                        <string></string>
                    </array>
                </array>
                        <array>
                            <array>
                                    <string>mirror</string>
                                    <string></string>
                            </array>
                    <array>
                        <string>mouse</string>
                        <string></string>
                    </array>
                    <array>
                        <string>moterbike</string>
                        <string></string>
                    </array>
                    <array>
                        <string>mouth</string>
                        <string></string>
                    </array>
                </array>

 
                
				<array>
					<array>
							<string>noodles</string>
							<string></string>
					</array>
            <array>
                <string>night</string>
                <string></string>
            </array>
            <array>
                <string>numbers</string>
                <string></string>
            </array>
            <array>
                <string>nap</string>
                <string></string>
            </array>
        </array>
				<array>
					<array>
							<string>ocean</string>
							<string></string>
					</array>
            <array>
                <string>onion</string>
                <string></string>
            </array>
            <array>
                <string>otter</string>
                <string></string>
            </array>
            <array>
                <string>oil</string>
                <string></string>
            </array>
        </array>
				<array>
					<array>
							<string>parrot</string>
							<string></string>
					</array>
            <array>
                <string>penguin</string>
                <string></string>
            </array>
            <array>
                <string>package</string>
                <string></string>
            </array>
            <array>
                <string>planet</string>
                <string></string>
            </array>
        </array>
				<array>
					<array>
							<string>quiet</string>
							<string></string>
					</array>
            <array>
                <string>quarter</string>
                <string></string>
            </array>
            <array>
                <string>question</string>
                <string></string>
            </array>
        </array>
				<array>
					<array>
							<string>rice</string>
							<string></string>
					</array>
            <array>
                <string>robot</string>
                <string></string>
            </array>
            <array>
                <string>ruler</string>
                <string></string>
            </array>
            <array>
                <string>run</string>
                <string></string>
            </array>
        </array>
				<array>
					<array>
							<string>sausage</string>
							<string></string>
					</array>
            <array>
                <string>sand</string>
                <string></string>
            </array>
            <array>
                <string>ski</string>
                <string></string>
            </array>
            <array>
                <string>swim</string>
                <string></string>
            </array>
        </array>
                
                    <array>
                            <array>
                                    <string>tree</string>
                                    <string></string>
                            </array>
   
                </array>
                
                
				<array>
						<array>
								<string>unicorn</string>
								<string></string>
						</array>
						<array>
								<string>unhappy</string>
								<string></string>
						</array>
						<array>
								<string>uniform</string>
								<string></string>
						</array>
				</array>
				<array>
					<array>
							<string>vehicle</string>
							<string></string>
					</array>
            <array>
                <string>venus</string>
                <string></string>
            </array>
            <array>
                <string>velociraptor</string>
                <string></string>
            </array>
            <array>
                <string>violin</string>
                <string></string>
            </array>
        </array>
				<array>
					<array>
							<string>walking</string>
							<string></string>
					</array>
            <array>
                <string>water</string>
                <string></string>
            </array>
            <array>
                <string>wave</string>
                <string></string>
            </array>
            <array>
                <string>winter</string>
                <string></string>
            </array>
        </array>
				<array>
					<array>
							<string>xmas</string>
							<string></string>
					</array>
            <array>
                <string>xenops</string>
                <string></string>
            </array>
        </array>
				<array>
					<array>
							<string>yell</string>
							<string></string>
					</array>
            <array>
                <string>yacht</string>
                <string></string>
            </array>
            <array>
                <string>yawn</string>
                <string></string>
            </array>
            <array>
                <string>yellow</string>
                <string></string>
            </array>
        </array>
				<array>
					<array>
							<string>zebrafish</string>
							<string></string>
					</array>
            <array>
                <string>zoo</string>
                <string></string>
            </array>
            <array>
                <string>zucchini</string>
                <string></string>
            </array>
            <array>
                <string>zigzag</string>
                <string></string>
            </array>
        </array>

	</array>
	<key>wordsTitle</key>
	<array>
        <string>A</string>
        <string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
        <string>G</string>
        <string>H</string>
        <string>I</string>
        <string>J</string>
        <string>K</string>
        <string>L</string>
        <string>M</string>
        <string>N</string>
        <string>O</string>
        <string>P</string>
        <string>Q</string>
        <string>R</string>
        <string>S</string>
        <string>T</string>
        <string>U</string>
        <string>V</string>
        <string>W</string>
        <string>X</string>
        <string>Y</string>
        <string>Z</string>
	</array>
	<key>pointsPerLetter</key>
	<integer>10</integer>
</dict>
</plist>
